#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS

#include "afxres.h"

#undef APSTUDIO_READONLY_SYMBOLS

#ifdef _WIN32

#ifdef APSTUDIO_INVOKED

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "#include ""afxres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    

#endif    

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_UKR)
#ifdef _WIN32

#pragma code_page(1251)
#endif 

IDD_ABOUT DIALOGEX DISCARDABLE  0, 0, 100, 120
STYLE  DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION 
CAPTION "About..."
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    CONTROL         133,IDC_SHOWBMP,"Static",SS_BITMAP,0,0,170,37
    LTEXT           "A keygenme by [_J_]",IDC_STATIC,15,40,100,13
    LTEXT           "Rules: \n.: Write your own keygen\n.: Patching is not allowed",IDC_STATIC,2,55,100,50
    LTEXT           "Good Luck! :)",IDC_STATIC,25,85,50,13
    DEFPUSHBUTTON   "Back",IDC_CLOSE,27,100,38,14,BS_FLAT
 
END


IDD_DIALOG DIALOGEX 0, 0, 200, 43
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU
CAPTION "..:: HADES ::.."
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "Register",ID_REGISTER,1,28,99,14,BS_FLAT
    PUSHBUTTON      "About",ID_ABOUT,100,28,99,14,BS_FLAT
    LTEXT           "Name :",IDC_STATIC,2,2,33,10
    LTEXT           "Serial  :",IDC_STATIC,2,16,33,10
    EDITTEXT        IDC_NAME,26,0,173,12,ES_MULTILINE | ES_AUTOHSCROLL 
    EDITTEXT        IDC_SERIAL,26,14,173,12,ES_MULTILINE | ES_AUTOHSCROLL
END

#endif 

IDB_MAINBMP             BITMAP      "logo.bmp"

#ifndef APSTUDIO_INVOKED
#endif   

